# yii console commands
/yii
/yii_test
/yii_test.bat

/vendor
.idea

nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

composer.phar

phpunit.phar
/phpunit.xml

runtime/
debug/*.data

# vagrant runtime
/.vagrant

*.log
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*
.DS_Store
Thumbs.db
